.wrapper {
  text-align: center;
  padding: 2rem 0rem;
}

.copy h3 {
  color: rgb(146, 56, 127);
}

.copy h1 {
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

.about__copy-container {
  padding: 1rem 2rem;
}

.about__copy-container h3 {
  margin-bottom: 1rem;
}
.about__copy-container p {
  color: #708090;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
}
