* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: #f1f5f8;
  color: #222;
}

.book-list {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 2px 10px 35px -1px rgba(0, 0, 0, 0.1);
}

.book h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.book h3 {
  letter-spacing: 0.3rem;
  color: navy;
}
