.contact__copy {
  margin-bottom: 2rem;
}

fieldset {
  border: none;
}

input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid #67727e1e;
  padding: 2rem 1rem;
  width: 90%;
  transition: all 0.3s ease-in;
}

input:focus {
  border-bottom: 3px solid var(--blue);
}

input::placeholder {
  position: absolute;
  left: 0;
}

textarea {
  border: none;
  width: 90%;
  padding: 2rem 1rem;
  border-bottom: 3px solid #67727e1e;
  transition: all 0.3s ease-in;
  margin-bottom: 1rem;
}

textarea:focus {
  border-bottom: 3px solid var(--blue);
}

@media screen and (min-width: 660px) {
  form {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  form {
    width: 60%;
    margin: 0 auto;
  }
}
