.work {
  background-color: #fff;
}

.darkBg {
  background-color: #1c2237;
}

.heading--light {
  color: #fff;
}

.heading--dark {
  color: #1c2237;
}

.lightTextDesc {
  color: #fff;
}
.darkTextDesc {
  color: #1c2237;
}

.work__card {
  padding: 2.5rem 0rem;
}
.work__card img {
  width: 100%;
  margin: 1rem auto;
}

.work__card h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.work__card p {
  margin-bottom: 2rem;
}

.work__card-copy {
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
