.work {
  background-color: var(--white);
}

.darkBg {
  background-color: var(--blue);
}

.heading--light {
  color: var(--white);
}

.heading--dark {
  color: var(--blue);
}

.lightTextDesc {
  color: var(--white);
}
.darkTextDesc {
  color: var(--blue);
}

.work__card {
  padding: 2.5rem 0rem;
}
.work__card img {
  width: 100%;
  margin: 1rem auto;
}

.work__card h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.work__card p {
  margin-bottom: 2rem;
}

.work__card-copy {
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
