.wrapper {
  text-align: center;
  padding: 2rem 0rem;
  width: 90%;
  margin: 0 auto;
}

.copy h3 {
  color: rgb(146, 56, 127);
}

.copy h1 {
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

.about__container {
  padding: 1rem 1rem;
  width: 90%;
  margin: 0 auto;
}

.about__container h3 {
  margin-bottom: 1rem;
}
.about__container p {
  color: #708090;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

.about__container a {
  text-decoration: none;
  color: #708090;
}
