.wrapper {
  text-align: center;
  padding: 2rem 0rem;
  width: 90%;
  margin: 0 auto;
}

.copy h3 {
  color: rgb(146, 56, 127);
}

.copy h1 {
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

.about__container {
  padding: 1rem 1rem;
  width: 90%;
  margin: 0 auto;
}

.about__container h3 {
  margin-bottom: 1rem;
}
.about__container p {
  color: #708090;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

.about__container a {
  text-decoration: none;
  color: #708090;
}

@media screen and (min-width: 768px) {
  .copy h1 {
    font-size: 3rem;
  }
  .copy h3 {
    font-size: 1.5rem;
  }

  .copy {
    font-size: 1.5rem;
  }

  .about__container h3 {
    font-size: 2rem;
  }

  .about__container p {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
  }
}
